@use '../index.scss' as vars;

@use '../fonts.scss';

div.featured-collections {
  margin: 100px;
  margin-bottom: 100px;

  // Estilizando os títulos, pode ser reaproveitado
  .collectionTitle {
    font-weight: bold;
    font-family: Inter, sans-serif;
    font-size: 24px;
  }

  .card {
    margin-top: 20px;
    background-color: vars.$color-bg-blue;
    border-radius: 8px;
    min-height: 250px;
    display: flex;
    justify-content: space-between;
  }

  .imagecards {
    display: flex;
  }

  // Texto e botões alinhamento
  div.propsText {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-left: 30px;

    .spanText {
      font-size: 25px;
      font-weight: bold;
      font-family: Inter, sans-serif;
    }
  }

  // Estilo do botão, foi retirado o componente do MUI para fazer dessa forma
  .Buttonprops {
    color: vars.$color-pink;
    width: 150px;
    height: 50px;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
    font-family: Inter, sans-serif;
  }

  .Buttonprops:hover {
    cursor: pointer;
    background-color: vars.$color-pink;
    color: #d8e3f2;
  }

  // Estilo do rótulo com desconto
  .rotulo {
    font-size: 14px;
    background-color: vars.$color-rotulo;
    color: vars.$color-text;
    border-radius: 30px;
    width: 80px;
    text-align: center;
    font-family: Inter, sans-serif;
    font-weight: 800;
  }
}

@media (max-width: 600px) {
  /* Estilos para telas pequenas */
  div.featured-collections {
    margin: 50px;
    margin-bottom: 50px;

    .card {
      height: 200px;
    }

    .spanText {
      font-size: 30px;
    }

    .Buttonprops {
      width: 120px;
      height: 40px;
      font-size: 12px;
    }

    .rotulo {
      font-size: 12px;
      width: 60px;
    }
  }
}

@media (min-width: 601px) and (max-width: 960px) {
  /* Estilos para telas médias */
  div.featured-collections {
    margin: 80px;
    margin-bottom: 80px;
  }
}
