@use '../index.scss' as vars;

@use '../fonts.scss';


.Buttonpropscarro {
    color: #D8E3F2;
    background-color: vars.$color-pink;
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-weight: bold;
    transition: 0.5s;
    font-family: fonts.$font-inter;
}

.Buttonpropscarro:hover {
    cursor: pointer;
    background-color: #D8E3F2;
    color: vars.$color-pink;
}


.divcarousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


.divinformation {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    
    

    h1 {        
        font-style: normal;
        font-weight: 800;
        font-size: 64px;
        line-height: 66px;
        font-family: fonts.$font-inter;
        letter-spacing: 1px;
    }


    p {
        font-family: fonts.$font-inter;
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 34px;

    }

    span {
        color: vars.$color-special;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        font-family: fonts.$font-inter;
        letter-spacing: 0.75px;
    }

}

