@use '../index.scss' as vars;

@use '../fonts.scss';


.colectionsMain{
    background-color:vars.$color-background-products;
    height: 18rem;
}

.maincolectionsdiv {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1maincolection {
    text-align: center;
    padding-bottom: 30px;
    font-family: fonts.$font-inter;
    font-size: 24px;
    color: vars.$color-text;

}


.sectioncolection {
    margin: 0 1.5rem ;
    display: flex;
    flex-direction: column;
    align-items: center;

    span {
        margin-top: 15px;
        /* Text X-Small Bold */

        font-family: fonts.$font-inter;
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        /* identical to box height, or 157% */

        text-align: center;
        letter-spacing: 0.75px;

        /* dark-gray-2 */

        color: vars.$color-text;
    }
}


.divcontroler {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 70px;
    height: 70px;
    background-color: vars.$color-text-footer;
    border-radius: 50%;
}


.sectioncolection .divcontroler:hover {
    color: vars.$color-pink; /* cor que você deseja para o hover */
    cursor: pointer;
  }