@use '../index.scss' as vars;

@use '../fonts.scss';


.menu {
    padding-left: 48px;
    width: 100%;
    padding-bottom: 2rem;


    a {
        color: vars.$color-text;
        margin-right: 10px;
        text-decoration: none;
        font-family: fonts.$font-inter;
        font-weight: 400;
        font-size: 16px;
        letter-spacing: 0.75px;
        margin-right: 2rem;
        

        &:hover {
            color: vars.$color-pink;
            border-bottom: 2px solid vars.$color-pink;
        }

        &.active {
            font-weight: bold;
            border-bottom: 2px solid vars.$color-pink;
            color: vars.$color-pink;
        }
    }
}
