@use '../index.scss' as vars;

@use '../fonts.scss';


div.featured-specialoffer {
    margin: 4rem 6rem 1rem 6rem;
    padding-top: 2rem;

    .cardImg {
        background: linear-gradient(180deg, rgba(66, 0, 255, 0.25) -40.67%, rgba(255, 255, 255, 0) 100%);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 466px;
        height: 466px;
        margin-left: 1.5rem;

        .img{
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 1rem 3rem 5rem 0;
            
        }
    }

    .card{
        margin-top: 2rem;
    }

    .Title {
        font-size: small;
        font-weight: bold;
        font-family: Inter, sans-serif;
        color: vars.$color-pink;
    }

    .propsTitle {
        color: vars.$color-text;;
        font-size: 3rem;
        font-weight: 600;
        font-family: Inter, sans-serif;
    }

    .propsText {
        margin-left: 0;
        color: vars.$color-text;;
        font-size: 1rem;
        font-family: Inter, sans-serif;
        word-spacing: 2px;
        line-height: 1.8rem;
    }

    .buttonOffer{
        width: 12rem;
        height: 2.4rem;
        margin-top: .5rem;
        font-weight: 600;
        font-size: .9rem;
        font-family: fonts.$font-inter;
        background-color: vars.$color-pink;;
        color: vars.$color-text-footer;
        border: none;
        border-radius: .6rem;
    }

    .buttonOffer:hover {
        cursor: pointer;
        background-color: #9e0a52;
    }
}