
@use '../index.scss' as vars;

@use '../fonts.scss';


div.featured-specialoffer {
    margin: 50px;

    img {
        width: 500px;
    }

    .Title {
        font-size: small;
        font-weight: bold;
        font-family: Inter, sans-serif;
        color: vars.$color-pink;;
    }

    .propsTitle {
        color: vars.$color-text;;
        font-size: 3rem;
        font-weight: 600;
        font-family: Inter, sans-serif;
    }

    .propsText {
        margin-left: 0;
        color: vars.$color-text;;
        font-size: 1rem;
        font-family: Inter, sans-serif;
        word-spacing: 2px;
        line-height: 1.8rem;
    }

    .buttonOffer{
        width: 13rem;
        height: 2.4rem;
        margin-top: .5rem;
        background-color: vars.$color-pink;;
        color: vars.$color-text-footer;
        border: none;
        border-radius: .6rem;
    }

    .buttonOffer:hover {
        cursor: pointer;
        background-color: #e92785;
    }
}