
$color-pink: #C92071;
$color-text: #474747;
$color-text-products: #8F8F8F;
$color-bg-blue: #D8E3F2;
$color-rotulo: #E7FF86;
$color-special: #F6AA1C;
$color-card-footer: #1F1F1F;
$color-text-footer: #FFFF;
$color-background:#F5F5F5;
$color-background-products: #E5E5E5;
