@use '../index.scss' as vars;

@use '../fonts.scss';

.MuiCheckbox-colorPrimary.Mui-checked{
    color:#C92071 !important;
}

.MuiRadio-colorPrimary.Mui-checked{
    color:#C92071 !important;
}

.checkbox{
    background-color: vars.$color-background-special;
    width: 280px;
    padding: 2rem 2rem 1rem 2rem;

    hr{
        margin-bottom: 1rem;
        background-color: #CCCCCC;
        height: 2px;
        border: none;
    }

    .title{
        color: vars.$color-text;
        font-family: fonts.$font-inter;
        font-weight: 700;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.75px;
        margin-bottom: 1rem;
    }

    .titleSelect{
        color: vars.$color-text;
        font-family: fonts.$font-inter;
        font-weight: 700;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.75px;
        
    }

    .options{
        color: vars.$color-text;
        font-family: fonts.$font-inter;
        font-weight: 500;
        font-size: 14px;
        line-height: 22px;
        letter-spacing: 0.25px;
        margin-bottom: 1rem;

    }
}