@use '../index.scss' as vars;

@use '../fonts.scss';



*{
    font-family: 'Inter';
    
    padding: 0;
    box-sizing: border-box;
}

.divisioncard {
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background-color: vars.$color-main-background;

    .rota{
       margin-bottom: 2rem; 
       font-family: fonts.$font-inter;
       color: vars.$color-text;
       font-weight: 400;
    }
}

.grid{
   
    display: flex;
    justify-content: center;
    align-items: center;

        .cards{
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #DEC699;
            border-radius: 3px;
            height: 6rem;
            width: 7.5em;
            margin-top: 1rem;

            .imgcard{
                display: flex;
                align-items: center;
                width: 6rem;
            }
        }
        

}

.card1{
    background-color: #6D70B7 !important;
}


.divimagecarrocel{
    display: flex;
    width: 700px;
    height: 640px;
    background-color: hsl(238, 100%, 94%);

    button{
        border: none !important;
        background-color: transparent !important;
        cursor: pointer;
    }
}

.tenismain{
    width: 672px !important;
}

.componentright {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    width: 50%;    
    padding-left: 60px;
    padding-right: 60px; 
    
    h1{
        margin-top: -5px;
    }
    
}


.imageAvaliable {
    display: flex;
    align-items: center;

    img {
        padding-right: 10px;
    }
}


.priceDiv {
    display: flex;
    align-items: center;
    

    p {
        padding-right: 10px;
        font-weight: 700;
        font-size: 16px;

        span{
            font-size: 32px;
            font-weight: 700;
        }
    }

    
}

.descriptionsparag{
    margin-top: -10px;
}

.spandecoration{
    text-decoration: line-through;
    color: vars.$color-light-gray;
}


.heightdiv button {
    margin-right: 5px;
    width: 48px;
    height: 48px;
    border: 1px solid vars.$color-light-gray;
    border-radius: 4px;
    background-color: vars.$color-background-special;
    cursor: pointer;


}

button.selected {
    background-color: #c92071;
    color: white;
}

.divcolors {
    width: 220px; 
    height: 45px;     
    display: flex;
    

    div{
        width: 220px;
        margin-right: 10px;
        border-radius: 50px;
        cursor: pointer;
        
    }
    
}

.Azulclaro{
    background-color: #6EEEFF;
}

.Laranja {
    background-color: #FF6969;
    
}

.Preto{
    background-color: #5D5D5D;
}

.Azulescuro{
    background-color: #6D70B7;
}

.Azulclaro:hover {
    
    border-radius: 50%;    
    position: relative;
    border: 2px solid #c92071;
    
    
  }
  
    


.buttoncomponentfinal{
    width: 220px;
    height: 48px;
    border: none;
    cursor: pointer;
    background-color: #FFB31F;
    color: vars.$color-background-special;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
}