
@use '../index.scss' as vars;

@use '../fonts.scss';


.featureFooter {
   
    background-color: vars.$color-card-footer;
    display: flex;
    justify-content:space-between;
    align-items: center;
    justify-content: center;

    .cards{
      margin:4rem;

        .card {
            height: 20rem;
            background-color: vars.$color-card-footer;
            border-bottom: 1px solid #626262;
            
            .divLogo{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                margin-left: 2rem;

                .logo{
                    width: 50px;
                    padding-right:.3rem;
                }
    
                .titleLogo{
                    color: vars.$color-text-footer;
                    font-family: fonts.$font-inter;
                    font-size: 2.4rem;
                    font-weight: 600;
                    letter-spacing: .02rem;
                    ;
                }
            }

            .textLogo{
                padding-top:  1.5rem;
                color: vars.$color-text-footer;
                font-size: 1rem;
                font-weight: 400;
                font-family: fonts.$font-inter;
                margin-right: 10rem;
                margin-right: 10rem;
                word-spacing: 1px;
                line-height: 1.5rem;
                margin-left: 2rem;
            }
            
            .iconsFooter{
                margin-top: 2rem;
                margin-left: 2rem;

                a {
                    color: vars.$color-text-footer;
                    margin-right: 2rem;
                }
            }

                .spanTitle{
                    color: vars.$color-text-footer;
                    font-family: fonts.$font-inter;
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-left: 2rem;
                }

                .divLink{
                    padding-top: 1rem;
                    margin-left: 2rem;
                }
                

                .divText{
                    padding-top: 1.9rem;
                    color: vars.$color-text-footer;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: fonts.$font-inter;
                    line-height: 1.5rem;
                    margin-left: 2.5rem;
                }

                .divNumber {
                    padding-top: 1.5rem;
                    color: vars.$color-text-footer;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: fonts.$font-inter;
                    margin-right: 1rem;
                    word-spacing: 2px;
                    margin-left: 2.5rem;
                }
     
                .link{
                    display: block;
                    padding-top: 1.3rem;
                    color: vars.$color-text-footer;
                    font-family: fonts.$font-inter;
                    font-size: 1rem;
                    font-weight: 400;
                    text-decoration: none;
                }
        }
    }

    .divFooter{
        position: absolute;
        width: 10rem;
        height: 1.5rem;
        left: 38rem;
        margin-top: 25rem;
        color: vars.$color-text-footer;
        font-size: .8rem;
        font-family: fonts.$font-inter;
        font-weight: 400;
    }
}