@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;400;700&display=swap');

$color-bg-grey: #1F1F1F;
$color-bg-text: #ffff;

.featureFooter {
    margin-top: 6rem;
    background-color: #1F1F1F;
    display: flex;
    justify-content:space-between;
    align-items: center;
  justify-content: center;

    .cards{
      margin: 4rem;

        .card {
            height: 20rem;
            background-color: $color-bg-grey;
            border-bottom: 1px solid #626262;
            
            .divLogo{
                display: flex;
                align-items: center;
                margin-bottom: 10px;
                margin-left: 2rem;

                .logo{
                    width: 50px;
                    padding-right:.3rem;
                }
    
                .titleLogo{
                    color: $color-bg-text;
                    font-family: Inter, sans-serif;
                    font-size: 2.4rem;
                    font-weight: 600;
                    letter-spacing: .02rem;
                    ;
                }
            }

            .textLogo{
                padding-top:  1.5rem;
                color: $color-bg-text;
                font-size: 1rem;
                font-weight: 400;
                font-family: Inter, sans-serif;
                margin-right: 10rem;
                margin-right: 10rem;
                word-spacing: 1px;
                line-height: 1.5rem;
                margin-left: 2rem;
            }
            
            .iconsFooter{
                margin-top: 2rem;
                margin-left: 2rem;

                a {
                    color: #fff;
                    margin-right: 2rem;
                }
            }
            
                .spanTitle{
                    color: $color-bg-text;
                    font-family: Inter, sans-serif;
                    font-size: 1.1rem;
                    font-weight: 600;
                    margin-left: 2rem;
                }

                .divLink{
                    padding-top: 1rem;
                    margin-left: 2rem;
                }
                

                .divText{
                    padding-top: 1.9rem;
                    color: $color-bg-text;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: Inter, sans-serif;
                    line-height: 1.5rem;
                    margin-left: 2.5rem;
                }

                .divNumber {
                    padding-top: 1.5rem;
                    color: $color-bg-text;
                    font-size: 1rem;
                    font-weight: 400;
                    font-family: Inter, sans-serif;
                    margin-right: 1rem;
                    word-spacing: 2px;
                    margin-left: 2.5rem;
                }

                    
                .link{
                    display: block;
                    padding-top: 1.3rem;
                    color: $color-bg-text;
                    font-family: Inter, sans-serif;
                    font-size: 1rem;
                    font-weight: 400;
                    text-decoration: none;
                }

                .link:hover{
                    cursor: pointer;
                }
        }
    }

    .dc{
        position: absolute;
        width: 10rem;
        height: 1.5rem;
        left: 38rem;
        margin-top: 25rem;
        color: $color-bg-text;
        font-size: .8rem;
        font-family: Inter, sans-serif;
        font-weight: 400;
    }
}