@use '../index.scss' as vars;

@use '../fonts.scss';

.featuredProducts{
    background-color: vars.$color-rotulo;
    padding: 3rem;
    margin-bottom: 100px;
   
    .divTitle{
        display: flex;
        justify-content: space-between;
        margin-bottom: 3rem;

        .productsTitle{
            width: 420px;
            height: 38px;
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 18px;
            line-height: 38px;
            letter-spacing: 0.75px;
            color: vars.$color-text;
        }
    
        .link {
            width: 290px;
            height: 34px;
            color: vars.$color-pink;
            display: flex;
            align-items: center;

            a {
                display: flex;
                text-decoration: none;
                color: vars.$color-pink;
                font-family: 'Inter';
                font-style: normal;
                font-weight: 400;
                font-size: 18px;
                line-height: 34px;
                letter-spacing: 0.75px;
                margin-right: .9rem;
    
              }
          }  
    }
    

    .card{
        width: 292px;
        height: 321px;
        background: vars.$color-text-footer;
        box-shadow: 6px 16px 30px rgba(105, 98, 98, 0.05);
        border-radius: 4px;
        
        .discounted{
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 96px;
            height: 32px;
            background: vars.$color-rotulo;
            color: vars.$color-text;
            border-radius: 29px;
            font-family: fonts.$font-inter;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 32px;
            letter-spacing: 0.75px;
            margin:1.2rem 0 0 1.2rem;
        }
    }

    .cardText{
        margin-top: 1.5rem;
        font-style: normal;
        font-family: fonts.$font-inter;
        line-height: 2rem;

        .title{
            color: vars.$color-text-products;
            font-weight: 700;
            font-size: 12px;
            letter-spacing: 0.75px;
        }

        .text{
            color: vars.$color-text;
            font-weight: 400;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.75px;
        }

        .value{
            color: vars.$color-text-products;
            font-weight: 400;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.75px;
            text-decoration-line: line-through;
            text-decoration-thickness: 1px;
            margin-right: .5rem;
        }

        .newValue{
            font-family: 'Inter';
            font-style: normal;
            font-weight: 700;
            font-size: 24px;
            line-height: 38px;
            letter-spacing: 0.75px;
            color: vars.$color-card-footer;
        }
    }

}